.root {
	-fx-font-family: 'Roboto';
}

.text {
    -fx-font-smoothing-type: gray;
}

.text-header {
	-fx-font-size: 18px;
}

/******************************************
 * Button								  *
 *****************************************/

.java-check-box-colored {
	-fx-text-fill: rgb(77,102,204);
}

.material-check-box {
	-fx-font-weight: bold;
}

.material-check-box-colored {
	-fx-text-fill: rgb(229, 57, 53);
	-fx-unchecked-color: rgb(77,102,204);
	-fx-checked-color: rgb(229, 57, 53);
}

/******************************************
 * Button								  *
 *****************************************/
 
.java-button-colored {
	-fx-background-color: rgb(77,102,204);
	-fx-text-fill: WHITE;
}

.material-button {
	-fx-font-weight: bold;
	-fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
}

.material-button-flat-colored {
	-fx-background-color: rgb(77,102,204);
	-fx-text-fill: WHITE;
}

.material-button-raised {
	-fx-background-color: WHITE;
    -fx-button-type: RAISED;
}

.material-button-raised-colored {
	-fx-button-type: RAISED;
	-fx-background-color: rgb(77,102,204);
    -fx-text-fill: WHITE;
}

.material-button-custom-rippler-fill {
	-fx-background-color: rgb(102, 153, 102);
    -fx-text-fill: WHITE;
	-fx-button-type: RAISED;
	-fx-rippler-fill: YELLOW;
}
