.root {
	-fx-font-family: 'Roboto';
}

.text {
    -fx-font-smoothing-type: gray;
    -fx-font-size: 14px;
}

.label {
	-fx-font-size: 14px;
}

/******************************************
 * CheckBox								  *
 *****************************************/

.md-check-box {
	-fx-font-weight: bold;
}

/******************************************
 * Button								  *
 *****************************************/

.md-button {
	-fx-font-weight: bold;
	-fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
}

/******************************************
 * Notification							  *
 *****************************************/
.md-notification {
 	-fx-background-color: #212121;
 	-fx-border-color: #424242;
 	-fx-border-style: solid;
 	-fx-border-width: 1;
 }
 
.md-notification .iconContainer {
	-fx-alignment: top-center;
 	-fx-padding: 12, 15, 0, 15;
}

.md-notification .closeContainer {
	-fx-padding: 2 2 2 2;
}

.md-notification .headerLabel {
	-fx-font-weight: bold;
	-fx-text-fill: WHITE;
}

.md-notification .bodyLabel {
	-fx-text-fill: #9E9E9E;
}

.md-notification .closeButton {
	-fx-padding: 5;
	-fx-rippler-fill: WHITE;
}