.root {
	-fx-font-family: 'Roboto';
}

.text {
    -fx-font-smoothing-type: gray;
}

.label {
	-fx-font-size: 14px;
}

/******************************************
 * CheckBox								  *
 *****************************************/

.material-check-box {
	-fx-font-weight: bold;
}

/******************************************
 * Button								  *
 *****************************************/

.material-button {
	-fx-font-weight: bold;
	-fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
}

/******************************************
 * Notification							  *
 *****************************************/
.material-notification {
 	-fx-background-color: #212121;
 	-fx-border-color: #424242;
 	-fx-border-style: solid;
 	-fx-border-width: 1px;
 }
 
.material-notification-image-container {
	-fx-alignment: top-center;
 	-fx-padding: 12, 15, 0, 15;
}

.material-notification-header-label {
	-fx-font-weight: bold;
	-fx-text-fill: WHITE;
}

.material-notification-body-label {
	-fx-text-fill: #9E9E9E;
}

.material-notification-close-button {
	-fx-padding: 5px;
	-fx-rippler-fill: WHITE;
}